*{
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  flex-direction:column;  
  align-items: center;
  position: fixed;
  z-index: 999px;
  left: 0;
  top: 0;
  width: 100%;
  background-color:black;

}


.nomeLiniker{
  color: #ffffff;
  font-family: 'Neonderthaw', cursive;
  font-size: 400%;

 
}

.Banners {
  padding-top: 20pt;
  display: flex;
  flex-direction: inline;
  align-items: center;
  gap: 40pt;
  padding-bottom: 40pt;
}

.banneresquerda {
  height: 350px

}

.bannermeio {
  
  height: 350px


}

.bannerdireita{
  height: 350px;

}

main {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50pt;
  padding-top: 100pt;
  margin-left: 30pt;
  margin-right: 30pt;
}

.conteudos {
  text-align: justify;
  font-size:medium;
  padding-bottom: 20pt;
}
footer {
  display:flex;
  height: 100px;
  flex-direction: inline;
  background-color: black;
  align-items:center;
  justify-content: center;
  
}
.copy
 {
  color: white;
  font-size: 20pt;
 }

 .referencias {
  width: 1250px;

}

.referencias ul {
  padding-left: 24pt;

}