* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 999px;
  left: 0;
  top: 0;
  width: 100%;
  background-color: black;
}

.nomeLiniker {
  color: #ffffff;
  font-family: 'Neonderthaw', cursive;
  font-size: 400%;
}

.Banners {
  padding-top: 20pt;
  display: flex;
  flex-direction: inline;
  align-items: center;
  gap: 40pt;
  padding-bottom: 75px;
}

.banneresquerda {
  height: 350px;
}

.bannermeio {
  height: 350px;
}

.bannerdireita {
  height: 350px;
}

main {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50pt;
  padding-top: 100pt;
}

.conteudos {
  height: 340px;
  text-align: justify;
  font-size: 15pt;
  padding-top: 25px;
  padding-bottom: 20pt;
  padding-left: 100pt;
  padding-right: 100pt;
  background-image: url(./img/linikeralt.jpg);
  color: white;
  font-family: 'Roboto Mono', monospace;
}

.lista {
  list-style: circle;
}

.referencias {
  padding-top: 70px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 1250px;
  font-family: 'Roboto Mono';
  font-size: 20px;
  font-weight: 600;
}

.referencias ul {
  padding-left: 32pt;
}
footer {
  display: flex;
  height: 70px;
  flex-direction: inline;
  background-color: black;
  align-items: center;
  justify-content: center;
}
.copy {
  color: white;
  text-align: justify;
  font-size: 15pt;
}

#titulofilme {
  font-size: 32px;
  padding-bottom: 10px;
  padding-top: 10px;
  letter-spacing: -4px;
  font-weight: 800;
}
